//		background-color: rgb(39, 214, 205);
$inBodyColor: white;
$gradient: linear-gradient(
	90deg,
	rgba(179, 177, 202, 0.76) 0%,
	rgba(138, 149, 165, 0.747) 43%,
	rgba(110, 157, 173, 0.623) 100%
);
$background: rgb(2, 0, 36);

.feed-container {
	background-color: rgb(41, 147, 184);
	display: flex;
	flex-direction: column;
	height: fit-content;
}

.feed-throw-post-block {

	padding: 3px;
	width: 97vw;
	background-color: white;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: 2px solid black;
}

.feed-inner-post-block {
	width: 100%;
}
.feed-show-typed {
	min-height: 20px;
	// word-break: break-all;
	color: rgb(3, 100, 100);
	font-family: "Comfortaa", cursive;
	font-size: 18px;
	font-weight: 700;
}

.feed-input-form-block {
	margin: 10px 0px;
	padding: 15px 0px;
}
.feed-input {
	border-radius: 5px;
	width: 95%;
	font-size: 18px;
	height: 24px;
	padding: 5px;
}
.feed-post-comment-button {
	float: right;
}
.feed-post-success {
	color: rgb(24, 179, 10);
	font-size: 12px;
	font-family: 'Comfortaa';
	padding-right: 100px;
	font-weight: 700;
}

.db-posts {
	width: 98vw;
}

.tb-posting-title {
	border: none;
	font-weight: 100;
	align-content: flex-start;
}

.posting-picture {
	grid-area: postingPicture;
	justify-content: center;
	align-content: center;
	align-items: center;
	display: flex;
	height: 75px;
	width: 75px;
	border-radius: 50%;
	background: $background;
	background: $gradient;

	padding: 1px;
}
.default-user-image {
	align-self: center;
	justify-self: center;
	height: 75px;
	width: 75px;
	overflow: hidden;
	border-radius: 50%;
	object-fit: cover;
}
.header-user-image {
	align-self: center;
	justify-self: center;
	height: 120px;
	width: 120px;
	overflow: hidden;
	border-radius: 50%;
	object-fit: cover;
}
.header-user-name {
	font-size: 24px;
	color: rgb(2, 136, 136);
	font-weight: 100px;
}

@media all and (min-width: 990px) {



	.feed-container-component {
		
		
		
		
		
	}

	.feed-large-screen-block {
	
		width: 98vw;
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		
	
		
	;

	
	}

	.feed-large-screen-block-edit{
		width: 97vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
	}


	.header-user-image {
		align-self: center;
		justify-self: center;
		height: 125px;
		width: 125px;
		overflow: hidden;
		border-radius: 50%;
		object-fit: cover;
	}

	.feed-throw-post-block {
		grid-area: throw;
		margin-left: 10px;
		padding: 7px;
		
		background-color: white;
		justify-content: flex-start;
		align-items: center;
		border-radius: 10px;
		border: 2px solid black;
		display: flex;
		flex-direction: column;
		max-height: 700px;
		max-width: 600px;
		
	}

	.feed-inner-post-block {
		width: 80%;
		margin-top: 50px;
	}
	.feed-show-typed {
		min-height: 20px;
		// word-break: break-all;
		color: rgb(3, 100, 100);
		font-family: "Comfortaa", cursive;
		font-size: 18px;
		font-weight: 700;
		padding-right: -10px;
	}
	.feed-input-form-block {
		margin: 10px 0px;
		padding: 15px 0px;
	}
	.feed-input {
		border-radius: 5px;
		width: 95%;
		font-size: 18px;
		height: 24px;
		padding: 5px;
		background-color: lightskyblue;
		background: lightskyblue;
		color: darkslategrey;
		border-bottom: lightgreen;
		border-width: 2px;
	}
	.feed-post-comment-button {
		float: right;
	}
	.feed-post-success {
		color: rgb(24, 179, 10);
		font-size: 12px;
		font-family: 'Comfortaa';
		padding-right: 100px;
		font-weight: 700;
	}

	.db-posts {
		width: 98vw;
	}

	.tb-posting-title {
		border: none;
		font-weight: 100;
		align-content: flex-start;
	}

	.posting-picture {
		grid-area: postingPicture;
		justify-content: center;
		align-content: center;
		align-items: center;
		display: flex;
		height: 75px;
		width: 75px;
		border-radius: 50%;
		background: $background;
		background: $gradient;

		padding: 1px;
	}
	.default-user-image {
		align-self: center;
		justify-self: center;
		height: 75px;
		width: 75px;
		overflow: hidden;
		border-radius: 50%;
		object-fit: cover;
	}

	.header-user-name {
		font-size: 24px;
		color: rgb(2, 136, 136);
		font-weight: 100px;
	}
}
