



.spinner-container{
    width: 99vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: center;
   text-align: center;
   color: rgba(130, 223, 240, 0.877);
   padding-top: 25px;
}
