.not-identified-container {
	height: 100vh;
	width: 100vw;
	background-color: rgba(10, 58, 121, 0.849);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}

.not-identified-title {
	font-family: 'Lobster', cursive;
	padding: 10px;
	font-size: 74px;
	color: rgb(40, 154, 189);
}

.not-identified-subtitle{
    position: fixed;
    color: white;
    margin-top: -20px;
    margin-left: 130px;
    
}
.sign-options-logo {
    height: contain;
	padding-left: 0px;
}

.home-logo {
    size: contain;
	height: 150px;
}


.options-button-splay {
    display: flex;
    justify-content: space-evenly;
}

.not-identifiable-screen-button {
	margin-right: 15px;
	background-color: #254576;
	color: white;
	border: 1px solid turquoise;
	border-radius: 50px;
	width: 100px;
	height: 40px;
	padding: 3px;
	align-self: center;

	&:hover {
		color: white;
		border: 1px inset turquoise;
		background-color: rgb(39, 214, 205);
	}
	&::active{
		background-color: rgb(98, 112, 112);
	}
}