.navbar {
	height: auto;
	width: 98vw;
	color: white;
	position: sticky;
	font-family: 'Comfortaa', cursive;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: grid;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(47, 88, 141, 1) 35%,
		rgba(40, 154, 189, 1) 100%
	);
	grid-template-columns: 1fr 9fr;
	grid-template-areas: 'icon icon . . button button button button button';
}

.image-container {
	grid-area: icon;
	height: 10vh;
	padding: 5px;
}

.nav-image-block {
	grid-area: icon;

	height: 60px;
	width: 60px;
}

.nav-user-image {
	grid-area: icon;
	height: 40px;
	width: 40px;
	object-fit: cover;
	padding: 0px;
	margin-top: 10px;
	border-radius: 50%;
}

.nav-icon-bar {
	grid-area: button;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.nav-button {
	margin: 5px;
	background-color: #254576;
	color: white;
	border: 1px solid turquoise;
	border-radius: 50px;
	width: 80px;
	padding: 3px;

	&:hover {
		color: white;
		border: 1px inset rgba(40, 154, 189, 1);
		background-color: rgba(40, 154, 189, 1);
	}
}

@media (orientation: landscape) and (max-height: 450px) {
	.nav-icon-image {
		grid-area: icon;
		height: 33px;
		margin-top: -2px;
		padding: 5px;
		float: left;
	}
}
@media all and (min-width: 950px) {
	.nav-icon-image {
		grid-area: icon;
		height: 63px;
		margin-top: 8px;
		padding: 5px;
		float: left;
	}

	.navbar {
		width: 98vw;
	}
}
